<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nima.webnotice.dao.UserDao">

    <select id="list" resultType="com.nima.webnotice.entities.User">
        select * from user
    </select>

    <select id="select" resultType="com.nima.webnotice.entities.User">
        select * from user where id = #{id}
    </select>

    <insert id="insert" parameterType="com.nima.webnotice.entities.User">
        insert into user  (username,password,nick_name) value (#{userName},#{password},#{nickName})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from user where id = #{id}
    </delete>

</mapper>